body{
    overflow-x: hidden;
}
.cell{
    height: 28px;
    border: solid 1px #a3acb2;
}
.scheduler{
    display: flex;
    flex-direction:column; 
    align-items: center;
}
.row{
    width: 100vw;
}
hr {
    background-color: rgb(17, 105, 17);
    height: 5px;
    width: 100%;
}
.logo, .logo-perfil{
    width: 80px;
    height: 80px;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header h1{
    margin: auto;   
}
.hours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
.hours > p {
    font-size: 2vh; 
}
.title{
    border: solid 1px #a3acb2;  
    font-size: 2vh;  
}
.cont-cal{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.hours{
    height: 28px;
    border: solid 1px #a3acb2; 
}
.btngroup{
   
    margin-bottom: 10px;
    width: 78%;
    height: 100%;
}
.btngroup2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btnDropdown{
    height: 100%;
    width: 18%;
}
.list-group-horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: baseline;
    width: 78%;
    height: 4%;
}
textarea{
    height: 100%;
    border-color: #e4e6e8;
    text-align:center;
}