.title{
    border: solid 1px #a3acb2;    
}
.cell{
    height: 28px;
    border: solid 1px #a3acb2;    
}
.scheduler{
    display: flex;
    flex-direction:column; 
    align-items: center;
}
.row{
    width: 100vw;
}
hr {
    background-color: rgb(17, 105, 17);
    height: 5px;
    width: 100vw;
}
.logo img, .photProfile img{
    width: 50px;
    height: 50px;
    margin: 0px 50px;  
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
header h1{
    margin: auto;   
}
.btngroup{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 10px;  
}
.btngroup2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btnDropdown{
    height:40px;
    width: 170px;
    margin-right: 5px;
}
.form-control{
    width:170px;
    margin-left: 5px;
}
.hours{
    padding: 0px;
}
.cont-cal{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}
.hours{
    height: 28px;
    border: solid 1px #a3acb2; 
}