i{
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    border-top: 0.15rem solid #35553e;
    border-bottom: 0.05rem solid #a3acb2;
    box-shadow: 0 0.05rem 0 rgba(12,13,14,0.15);
}
.scheduler{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.rowLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}
.logo, .perfil{
    width: 4rem;
    height: 4rem;
}
.perfil{
    cursor: pointer;
}
p{
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}
.btnDropdown{
    height: 4rem;
    width: 13rem;
    font-size: 2rem; 
}
.list-group-horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
input{
    border-color: #e4e6e8;
    text-align:center;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-size: 0.7rem;
}
.scheduler-title{
    font-size: 2rem;
    margin-left: 1rem;
    color: #35553e;
}
button{
    background-color: red;
    width: 30px;
    height: 30px;
}
.fa{
    font-size: 3rem;
}
.fa-info-circle{
    cursor: help;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
}
.dropD{
    width: 7rem;
}
.nightHours{
    display: flex;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    width: 15rem;    
    border: 0.05rem solid #a3acb2;
    box-shadow: 0 0.05rem 0 rgba(12,13,14,0.15);
}
.confirm{    
    margin: auto;
    margin-bottom: 1rem;
    height: 1.2rem;
    width: 10rem;
    font-size: 2rem; 
}
.reserved {
  background-color: #a3acb2;
}
.rowSched {
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    width: 100vw;
    margin-bottom: 7rem;
}
.day {
    display: inline-table;
    white-space:normal;
    max-width: 12.5rem;
}
.title{
    border-top: solid 0.05rem #dee2e6;
    border-bottom: solid 0.05rem #dee2e6;
    border-right: solid 0.05rem #dee2e6;
    font-size: 1.4rem;
    height: 2rem;
}
.titleH{
    border: solid 0.05rem #dee2e6;
    font-size: 1.4rem;
    height: 2rem;
}
.hours{
    height: 2rem;
    border-bottom: solid 0.05rem #dee2e6; 
    border-left: solid 0.05rem #dee2e6; 
    border-right: solid 0.05rem #dee2e6;
}
.cell{
    cursor: copy;
    height: 2rem;
    border-bottom: solid 0.05rem #dee2e6;
    border-right: solid 0.05rem #dee2e6;
}
Button{
    height: 2rem;
    width: 8rem;
    text-align: center;
}
@media screen and (min-width: 1000px){
    body{
        overflow-x: hidden;
    }
}
@media screen and (max-width: 600px){
    div.rowSched > div:first-child{
        width: 6rem;
        position: absolute;
        z-index: 1;
        background-color: white;
    }
    div.rowSched > div:nth-child(2){
        margin-left: 6rem;
    }        
    .list-group-horizontal{
        justify-content: space-evenly;
    }
    .btnDropdown{
        height: 3rem;
        width: 10rem;
        font-size: 1.5rem;
        margin: 0 !important;
    }
    .availableHours{
        margin: 0 !important;
    }
}


/*css RESUMEN RESERVAS*/
.calendar-container,.calendar,.calendar-header, td, tr{
    padding: 0;
    margin: 0
}
.calendar-container{ 
    border: 2px solid skyblue;
    }
.calendar{
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
.calendar-header{
    border-bottom: 1px dashed skyblue;
    font-size: 1.6em;
}
.calendar-header td{
    border-spacing: 0;
    padding-left: 5px;
}
.days, .empty-slot, .week-day{
    text-align: center;
    height: 40px;
}
.week-day{
    font-size: 0.8em;
}
.days{
    font-size: 0.8em;
}
.days{
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.current-day{
    background-color: #4285f4;
    width:28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color:white;
}
.month-popup{
    position: absolute;
    padding: 5px;
    background:white;
    border:2px solid skyblue;

}
.month-popup div{
    padding: 0.3em;
}
.nav-month{
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right: 3px;

}
.editor-year{
    max-width: 3.6em;
}
.label-month, .label-year{
    font-size: 0.6em;
}
.label-month{
    cursor: pointer;
}